*{
    margin: 0;
    padding: 0;
    
}
.searcha{
   height: 70px;
   position: relative;   
   z-index: 2;
   top: 0;
   background-color: white;
   border: 1px solid rgb(224, 224, 224);
}
.left{
    
    width: 1000px;
    height: 950px;
    border: 1px solid black;
    align-items: center;
    text-align: center;
    background-color: white;
    margin-left: 300px;
    border-radius: 20px;

    
}
.container2{
    margin: 0;
}
.sana11{
    display: flex;
}
.meat{
    border-radius: 15px;
}
.bosh{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.discription47{
    font-size: 17px;
    font-weight: 900;
    color: rgb(228, 224, 224);
}
.bosh:hover{
    text-decoration: underline;
}
.discription46{
    text-align: left;
    background-color: white;
}

.asoss{
   display: flex;
    margin-left: 320px;
    border-radius: 20px;
    margin-top: 50px;

}
.asoos1{
    display: flex;
}
.meat{
    width: 900px;
    height: 800px;
}.navbarasos a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    text-align: center;
    margin: 20px;
    /* margin-left: 20px; */
}


.navbarasos {

    display: flex;
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    margin: auto;
    padding-top: 10px;   
    top: 0;
    position: sticky;
    z-index: 2; 
    font-size: 17px;
    margin-left: -15px;
    -webkit-box-shadow: -1px 7px 11px 3px rgba(137, 137, 137, 0.23);
    -moz-box-shadow: -1px 7px 11px 3px rgba(137, 137, 137, 0.23);
    box-shadow: -1px 7px 11px 3px rgba(137, 137, 137, 0.23);
}

.a{
    position: sticky;
    top: 0;
    border-right: 1px solid rgb(225, 225, 225);
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    text-decoration: none;
    padding-top: 5px;
    text-align: center;
}
.a a:hover{
    color: aqua;
    transition: 0.4s;
    
}

.b{
    margin-top: 5px;
    padding-left: 10px;
}
.b a:hover{
    color: #20B2AA;
    transition: 0.5s;
}

.container{
    display: flex;  
}
.asosbosh{
    display: flex; 
}
.a12:hover{
    color: aqua;
    transition: 0.5s;
    
}

.search{
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: white;
    position: relative;
    border: 1px solid rgb(226, 226, 226);
}
.uppernavbar{
    width: 400px;
    height: 40px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 20px ;
    position: absolute;
    left: 580px;
    top: 15px;
    z-index: 2;
}
.logo{
    width: 140px;
    height: 30px;
    position: absolute;
    left: 380px;
    top: 20px;
    z-index: 1;
}
.fa-magnifying-glass{
    width: 18px;
    height: 18px;
    position: absolute;
    left: 945px; 
    top: 25px;
    z-index: 3;
    color: black;
    
}
.fa-magnifying-glass:hover{
    color: #20B2AA;
}

.serch{
    width: 50px;
    height: 40px;
    position: absolute; 
    top: 15px;
    left: 929px;
    border-radius: 20px;
    z-index: 3;
    
}
.serch:hover{
    background-color: #20B2AA;
}

.searchga:hover{
    background-color: #20B2AA;
}
/* 
.navbarasos a{
    text-decoration: none;
    color: black;
    font-size: 18px;
} */
.asos{
    width: 60%;
    display: flex;
    margin: auto;
    height: 100vh;
}
.asos2{
    margin-top: 50px;
    width: 300px;
    align-items: center;
    z-index: 1;
}
.right{
    width: 320px;
    margin-left: 550px;
    align-items: center;
    margin-top: 80px;
    
}
.div1{
    margin-top: 30px;
    display: flex;
    width: 750px;
    height: 180px;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    position: relative;
}
.body{
    background-color: rgb(161, 159, 159);
    position: relative;
}
.div2 {
    margin-top: 40px;
    width: 750px;
    height: 180px;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    position: relative;
}
.div4{
    margin-top: 40px;
    width: 750px;
    height: 180px;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    position: relative;

}
.div5{
    margin-top: 40px;
    display: flex;
    width: 750px;
    height: 180px;
    /* border: 1px solid black; */
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    position: relative;
}
.img5 img{
    width: 280px;
    height: 180px;
    border-radius: 15px;
}
.img2 img {
    border-radius: 15px;
    width: 280px;
    height: 180px;
}
.sana4{
    margin-left: 60px;
    position: absolute;
    left: 265px;
}
.div3{
    margin-top: 40px;
    display: flex;
    width: 750px;
    height: 180px;
    /* border: 1px solid black; */
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    position: relative;
}
.img3 img{
    border-radius: 15px;
    width: 280px;
    height: 180px;
}
.img1 img{
    border-radius: 15px;
    width: 280px;
    height: 180px;
}
.discription1{
    margin-left: 70px;
    width: 450px;
    position: absolute;
    top: 60px;
    left: 250px;
    font-weight: 800;
    font-size: 22px;
    color: black;
    text-decoration: none;
}
.discription2{
    margin-left: 70px;
    width: 450px;
    position: absolute;
    top: 60px;
    left: 250px;
    font-weight: 800;
    font-size: 23px;
    color: black;
    text-decoration: none;
}
.discription3{
    margin-left: 70px;
    width: 450px;
    position: absolute;
    top: 60px;
    left: 250px;
    font-weight: 800;
    font-size: 22px;
    color: black;
    text-decoration: none;
}
.discription4{
    margin-left: 70px;
    width: 450px;
    position: absolute;
    top: 60px;
    left: 250px;
    font-weight: 800;
    font-size: 22px;
    color: black;
    text-decoration: none;
}
.discription5{
    margin-left: 70px;
    width: 450px;
    position: absolute;
    top: 60px;
    left: 250px;
    font-weight: 800;
    font-size: 22px;
    color: black;
    text-decoration: none;
}
.discription1:hover{
    text-decoration: underline;
}
.discription2:hover{
    text-decoration: underline;
}
.discription3:hover{
    text-decoration: underline;
}
.discription4:hover{
    text-decoration: underline ;
}
.div2{
    display: flex;
}
.sana1{
    margin-left: 23px;
    font-size: 17px;
}
.sana2{
    margin-left: 23px;
    font-size: 17px;
}
.sana3{
    margin-left: 23px;
    font-size: 17px;
}
.fa-eye{
    font-weight: 100;
    margin-left: 15px;
    /* margin-top: 0px; */
}
.sana5{
    margin-left: 23px;
    font-size: 17px;
}
.eye{
    margin-top: -15px;
    display: flex;

}
.h3{
    margin-top: 17px;
    margin-left: 10px;
    font-weight: 100;
}
.divichki10{
    margin-top: -205px;
}
.eye5{
    margin-left: 300px;
    width: 70px;
    display: flex;
    border: 1px solid black;

}
.fa-eye{
    margin-top: 20px;
    
}
.view{
    width: 10px;
}

.aa{
    margin-left: 10px;
    font-size: 20px;
    color: rgb(91, 244, 198);
    text-decoration: none;
}
.aa:hover{
    text-decoration: underline;
    color: black;
}
.frontmain1{
    width: 250px;
    background-color: rgb(208, 208, 208);
    margin: 10px;
    margin-bottom: 30px;
    height: 70px;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    padding-top: 20px;
    color: black;
}
.a1{
    text-decoration: none;
    color: black;
}
.a1:hover{
    text-decoration: underline;
}
.frontmain2{
    width: 250px;
    background-color: rgb(208, 208, 208);
    margin: 10px;
    margin-bottom: 30px;
    height: 70px;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    padding-top: 20px;
    color: black;

}
.a2{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}
.a2:hover{
text-decoration: underline;
}
.frontmain3{
    width: 250px;
    background-color: rgb(208, 208, 208);
    margin: 10px;
    margin-bottom: 30px;
    height: 100px;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    padding-top: 20px;
    color: black;
}
.a3{
    text-decoration: none;
    color: black;

}
.a3:hover{
    text-decoration: underline;
}
.frontmain4{
    width: 250px;
    background-color: rgb(208, 208, 208);
    margin: 10px;
    margin-bottom: 30px;
    height: 50px;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    padding-top: 20px;
    color: black;
}
.a4{
    text-decoration: none;
    color: black;
}
.kopeo{
    border: 1px solid rgb(226, 226, 226);
    background-color: rgb(210, 210, 210);
}
.a4:hover{
    text-decoration: underline;
}
.frontmain5{
    width: 250px;
    background-color: rgb(208, 208, 208);
    margin: 10px;
    margin-bottom: 30px;
    height: 70px;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    padding-top: 20px;
    color: black;
}
.a5{text-decoration: none;
    color: black;
}
.a5:hover{
    text-decoration: underline;
}
.frontmain6{
    width: 250px;
    background-color: rgb(208, 208, 208);
    margin: 10px;
    margin-bottom: 30px;
    height: 80px;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    padding-top: 20px;
    color: black;
}
.frontmain7{
    width: 250px;
    background-color: rgb(208, 208, 208);
    margin: 10px;
    margin-bottom: 30px;
    height: 65px;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    padding-top: 20px;
    color: black;
}
.a6{text-decoration: none;
    color: black;
}
.a6:hover{
    text-decoration: underline;
}
.koop{
    width: 310px;
    border-bottom: 1px solid black;
    height: 50px;
    text-align: center;
    margin-left: -10px;
}
.yondagibrat{
    width: 200px;
    height: 400px;
    border: 1px solid rgb(226, 226, 226);
    margin-left: 10px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    margin-top: 30px;
    overflow: hidden;
    position: relative;
}
.yondagibrat:hover> img{
    transform: scale(1.1);
    transition: 0.5s;
}
.yondagibrat:hover> p{
    text-decoration: underline;
}

.yonpast{
    text-align: center;
    width: 210px;
}
.rasmga{
    width: 200px;
    height: 300px;
    overflow: hidden;
}
.button{
    width: 150px;
    height: 30px;
    border-radius: 15px;
    margin-left: 30px;
    margin-top: 100px;
    background-color: #20B2AA;
    color: white;
    border: 1px solid white;
}
/* .yonpast:hover{
    text-decoration: underline;
} */
.mun{
    font-size: 15px;
    
}
.mun1{
    font-size: 15px;
    margin-top: 0;
}
.mun2{
    font-size: 15px;

}
.mun3{
    font-size: 15px;
    
}
.mun4{
    font-size: 15px;
    
}
.mun5{
    font-size: 15px;
    
}
.pp{
    font-weight: 100;
    font-size: 15px;
    margin-top: 10px;
}
.mundarija{
    margin-top: 40px;
    margin-left: 10px;
    position: sticky;
    z-index: 2;
}
.pp1{
    margin-left: 10px;
    width: 200px;
    margin-top: 25px;
}
.muxarrir{
    align-items: center;
    border-bottom: 1px solid rgb(170, 170, 170);
    width: 280px;
}
.muha{
    margin-left: 20px;
}
.discription5:hover{
    text-decoration: underline;
}
.aylana{
    width: 700px;
    display: flex;
    margin-left: 85px;
    
}
.aylan{
    width: 30px;
    height: 25px;
    border-radius: 100%;
    border: 1px solid rgb(200, 198, 198);
    margin-left: 15px;
    text-align: center;
    margin-top: 60px;
    padding-top: 5px;
}   

.kopeo{
    width: 350px;
    height: 50px;
    border-radius: 25px;
    margin-top: 40px;
    margin-left: 215px;
    text-decoration: none;
    color: black;

}
.kopeo:hover{
    background-color: #20B2AA;
    color: white;
    transition: 0.5s;
}
.aylan11{
    width: 30px;
    height: 25px;
    border-radius: 100%;
    border: 1px solid rgb(200, 198, 198);
    margin-left: 15px;
    /* align-items: center; */
    text-align: center;
    margin-top: 60px;
    color: black;
    text-decoration: none;
    padding-top: 5px;
}

.aylan12{
    width: 40px;
    height: 25px;
    border-radius: 30px;
    border: 1px solid rgb(200, 198, 198);
    margin-left: 15px;
    /* align-items: center; */
    text-align: center;
    margin-top: 60px;
    /* color: black; */
    padding-top: 5px;
    text-decoration: none;
}
.aylan a{
    text-decoration: none;
    color: black;
}
.aylan11 a{
    text-decoration: none;
    color: black;
}
.aylan12 a{
    text-decoration: none;
    color: black;
}
.aylan:hover{
    background-color: #20B2AA;
    color: white; 
    transition: 0.5s;
}
.aylan11:hover{
    background-color: #20B2AA;
    color: white;
    transition: 0.5s;
}
.aylan12:hover{
    background-color: #20B2AA;
    color: white;
    transition: 0.5s;
}
.commentari{
    width: 600px;
    height: 30px;
    margin-top: 50px;

}
.nasaf{
    margin-top: 120px;
    margin-left: 50px;
}
.icon{
    margin-left: 50px;
    margin-top: 20px;
    width: 300px;
    height: 100px;
}
.fa-telegram{
    /* width: 30px;
    height: 30px; */
    margin-left: 5px;
    color: #20B2AA;
}
.fa-instagram{
    margin-left: 5px;
    color: #20B2AA;
}
.fa-facebook{
    margin-left: 5px;
    color: #20B2AA;
}
.fa-youtube{
    margin-left: 5px;
    color: #20B2AA;
}
.fa-tiktok{
    margin-left: 5px;
    color: #20B2AA;
}
.fa-twitter{
    margin-left: 5px;
    color: #20B2AA;
}
.hit{
    margin-left: 1000px;
}
/* html ichki qismi */
.tt1{
    border: 10px solid green;
}
.tt2{
    border: 10px solid red;
}
.table{
    /* border: 10px solid blue; */
    width: 100px;
}

